<!DOCTYPE html>
<html lang="en" data-theme="business">
    <head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/output.css" type="text/css" media="screen" />
	    <title>Home Page</title>
    </head>
    @include 'modals.html
    <body class="flex flex-col">
        @include 'nav.html'
        <div class="w-11/12 flex flex-col gap-4 self-center mb-4">
        @include 'multiple_articles.html'
        </div>
    </body>
    @include 'footer.html'
</html>
